-e .
appdirs==1.4.4
cov-core==1.15.0
coverage==5.5
distlib==0.3.1
execnet==1.8.0
filelock==3.20.3
iniconfig==1.1.1
py==1.10.0
pytest-cov==2.11.1
pytest-xdist==2.2.1
pytest==6.2.4
tox==3.23.1
virtualenv==20.36.1
